

{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_winner')}}"> Add Another Winner </a>
{% if winners %}
    <table>
      <thead>
        <tr>
          <th> ID </th>
          <th> Year </th>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Country </th>
          <th> Language </th>
        </tr>
      </thead>

      <tbody>
        {% for row in winners %}
        <tr>
          <td> {{ row.id }} </td>
          <td> {{ row.issued_year }} </td>
          <td> {{ row.first_name }} </td>
          <td> {{ row.last_name }} </td>
          <td> {{ row.country }} </td>
          <td> {{ row.language_used}} </td>

          <td>
            <form action="{{ url_for('delete_winner',winner_id=row.id)}}" method='POST'>
              <input type='submit' value='Delete' />
            </form>
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}
